<form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Назва товару</mat-label>
    <input matInput placeholder="Введіть назву товару" formControlName="title">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Понвий опис товару</mat-label>
    <textarea matInput placeholder="Ведіть повний опис товару" formControlName="description"></textarea>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Ціна</mat-label>
    <input matInput placeholder="Введіть назву товару" formControlName="price">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Відношення товару до групи ID</mat-label>
    <input matInput placeholder="Введіть назву товару" formControlName="category">
  </mat-form-field>
  <div class="button-container">
    <button mat-raised-button type="submit">{{isNew ?'Додати' : 'Обновити'}}</button>
    <button mat-raised-button (click)="onNoClick()" type="button">Відмінити</button>
  </div>

</form>
