<div class="container">
  <mat-card class="login-wrapper">
    <mat-card-header>
      <h2 class="login-header">Це тестовий прототип онлайн магазину за допомогою роботи із <a href="https://fakestoreapi.com/docs" target="_blank">https://fakestoreapi.com/docs</a> </h2>

    </mat-card-header>
    <mat-card-content>
      <p class="login-description">Щоб увійти як адміністратор нажміть на кнопку login в правому верхньому куті екрану та введіть <br>логін: <b>admin@gmail.com</b> <br>пароль: <b>admin123</b></p>
    </mat-card-content>
    <mat-card-footer></mat-card-footer>
  </mat-card>
</div>
<!-- [disabled]="loginForm.invalid" -->
